In [2]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression, Ridge, Lasso
from sklearn.metrics import r2_score, root_mean_squared_error, mean_absolute_error, mean_squared_error
import os

os.chdir('C:/Users/dbda.STUDENTSDC/Desktop/M.L/Datasets')

In [3]:
boston = pd.read_csv('Boston.csv')

x = boston.drop('medv', axis = 1)
y = boston['medv']

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=25)

In [4]:
alphas = [0.001, 0.01, 0.1, 1, 1.5, 2.5, 5, 10]
scores = []
for a in alphas:
    ridge = Ridge(alpha=a)
    ridge.fit(x_train, y_train)
    y_pred = ridge.predict(x_test)
    scores.append([a, mean_absolute_error(y_test, y_pred)])

df_scores = pd.DataFrame(scores, columns=['alpha', 'score'])
df_scores.sort_values('score')

    alpha     score
3   1.000  3.071007
4   1.500  3.073661
5   2.500  3.082563
2   0.100  3.100479
6   5.000  3.102838
1   0.010  3.115621
0   0.001  3.117373
7  10.000  3.124733

In [5]:
alphas = [0.001, 0.01, 0.1, 1, 1.5, 2.5, 5, 10]
scores = []
for a in alphas:
    lasso = Lasso(alpha=a)
    lasso.fit(x_train,y_train)
    y_pred = lasso.predict(x_test)
    scores.append([a,mean_absolute_error(y_test,y_pred)])

df_scores = pd.DataFrame(scores,columns=['alpha','score'])
df_scores.sort_values('score')

    alpha     score
1   0.010  3.088221
0   0.001  3.114200
2   0.100  3.129219
3   1.000  3.373066
4   1.500  3.542921
5   2.500  3.632183
6   5.000  3.856294
7  10.000  3.942140

In [6]:
housing = pd.read_csv('Housing.csv')
x, y = housing.drop('price', axis = 1), housing['price']

In [7]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer, make_column_selector

ohe = OneHotEncoder(drop='first', sparse_output=False).set_output(transform='pandas')
col_trnf = ColumnTransformer([('OHE', ohe, make_column_selector(dtype_include=object))],
                             remainder='passthrough',
                             verbose_feature_names_out=False)
col_trnf = col_trnf.set_output(transform='pandas')
x = col_trnf.fit_transform(x)
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=42)
x.columns

Index(['driveway_yes', 'recroom_yes', 'fullbase_yes', 'gashw_yes', 'airco_yes',
       'prefarea_yes', 'lotsize', 'bedrooms', 'bathrms', 'stories',
       'garagepl'],
      dtype='object')

In [8]:
alphas = [0.001, 0.01, 0.1, 1, 1.5, 2.5, 5, 10]
scores = []
for a in alphas:
    ridge = Ridge(alpha=a)
    ridge.fit(x_train, y_train)
    y_pred = ridge.predict(x_test)
    scores.append([a, mean_absolute_error(y_test, y_pred)])

df_scores = pd.DataFrame(scores, columns=['alpha', 'score'])
df_scores.sort_values('score')

    alpha         score
6   5.000  11463.974598
5   2.500  11469.865449
4   1.500  11482.662082
3   1.000  11489.913048
7  10.000  11496.337927
2   0.100  11505.206613
1   0.010  11506.910172
0   0.001  11507.081912

In [9]:
alphas = [0.001, 0.01, 0.1, 1, 1.5, 2.5, 5, 10]
scores = []
for a in alphas:
    lasso = Lasso(alpha=a)
    lasso.fit(x_train,y_train)
    y_pred = lasso.predict(x_test)
    scores.append([a,mean_absolute_error(y_test,y_pred)])

df_scores = pd.DataFrame(scores,columns=['alpha','score'])
df_scores.sort_values('score')

    alpha         score
7  10.000  11499.820214
6   5.000  11503.392754
5   2.500  11505.246883
4   1.500  11505.988533
3   1.000  11506.359358
2   0.100  11507.026844
1   0.010  11507.093593
0   0.001  11507.100268

In [27]:
sals = pd.read_csv('Exp_Salaries.csv')
sals.head()

,Salary,Years_Previous_Experience,Years Employed,Years_Education,Gender,Department,Number_Supervised
0,32782,1,0,7,Male,A,0
1,32920,3,15,9,Female,A,4
2,29548,6,5,1,Male,A,0
3,39828,6,18,5,Female,A,5
4,31528,11,3,3,Male,A,6

In [28]:
x,y = sals.drop('Salary',axis=1),sals['Salary']

In [29]:
ohe = OneHotEncoder(drop='first',sparse_output=False).set_output(transform='pandas')
col_trnf = ColumnTransformer([('OHE',ohe,make_column_selector(dtype_include=object))],remainder='passthrough',
                                verbose_feature_names_out=False)
col_trnf = col_trnf.set_output(transform='pandas')
x = col_trnf.fit_transform(x)
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=42)
x.columns

Index(['Gender_Male', 'Department_B', 'Department_C', 'Department_D',
       'Years_Previous_Experience', 'Years Employed', 'Years_Education',
       'Number_Supervised'],
      dtype='object')

In [33]:
import numpy as np

alphas = [0.001, 0.01, 0.1, 1, 1.5, 2.5, 5, 10]
scores = []
for a in alphas:
    ridge = Ridge(alpha=a)
    ridge.fit(x_train,y_train)
    y_pred = ridge.predict(x_test)
    scores.append([a,mean_absolute_error(y_test,y_pred)])

df_scores = pd.DataFrame(scores,columns=['alpha','score'])
df_scores.sort_values('score')

    alpha        score
4   1.500  3169.983898
5   2.500  3184.703721
3   1.000  3194.217664
6   5.000  3238.912599
7  10.000  3340.387352
2   0.100  3698.793419
1   0.010  3788.847283
0   0.001  3798.490935

In [ ]:
alphas = [0.001, 0.01, 0.1, 1, 1.5, 2.5, 5, 10]
scores = []
for a in alphas:
    lasso = Lasso(alpha=a)
    lasso.fit(x_train,y_train)
    y_pred = lasso.predict(x_test)
    scores.append([a,mean_absolute_error(y_test,y_pred)])

df_scores = pd.DataFrame(scores,columns=['alpha','score'])
df_scores.sort_values('score')

    alpha        score
7  10.000  3751.255938
6   5.000  3775.432796
5   2.500  3787.497618
4   1.500  3792.328212
3   1.000  3794.741279
2   0.100  3799.087000
1   0.010  3799.521769
0   0.001  3799.565274